<div>
    {{#if user}}
        <h3 class="text-center">Bienvenido, 
            <strong>
                {{user.first_name}} {{user.last_name}}!!
            </strong>
            <p>Edad: {{user.age}}</p>
            <p>Email: {{user.email}}</p>
            <p>Rol: {{user.role}}</p>
        </h3>
    {{/if}}
    <h1>
        Usar la imaginación para visualizar el render del carrito.
    </h1>
</div>